/*import google font*/
@import url('https://fonts.googleapis.com/css2?family=Snippet&display=swap');
body {
    background: #f2f2f2;
    font-family: 'Snippet', sans-serif;
    color: black;
    font-weight: 100;
    animation: glowshow 5s infinite;
}
hr {                                /* horizontal line styled in a powder blue */
    border: 3px solid #C1DBED;
    width: 98%;
    border-radius: 30px;
}
h1, .slogan, .recipe{               /*center text for Title header, slogan class, and recipe section*/
    line-height: 1;
    text-align: center;
    font-weight: lighter;
    margin-bottom: 10px;
}
.ingredients, .directions {        /**/
    line-height: 0.5;
    text-align: center;
    font-weight: lighter;
}
.directions::after {
    content: ":";
}
.close {                        /* coling message at the end of recipe. "🍲 ENJOY */
    line-height: 5.5;
    text-align: center;
    font-weight: lighter;
}
.close::before {
    content: "🍲";
}
summary {
    list-style: none;
    cursor: pointer;
}
summary::before {
    content: "Step 5: ";
}
img {                           /* Centered picture of completed recipe */
    width: 43%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 13px solid #f2f2f2;
    border-radius: 100%;
}
.container {                    /* Recipe card with 3D effect. Effect is accomplished with the box-shadow, web-kit backdrop-filter, animation, and keyframes property */
    background: rgba( 255, 255, 255, 0.1 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 2px );
    -webkit-backdrop-filter: blur( 2px );
    margin: auto;
    width: 35%;
    box-sizing: content-box;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    border-radius: 100px;
    margin-top: 2px;
    padding-top: 2px;
    padding-bottom: 1px;
    animation: glowshow 5s infinite;
}
@keyframes glowshow{
    50% {box-shadow: 10px 10px 10px lavender;}
}
footer {
    padding-top: 0px;
    margin-bottom: -29px;
    position: fixed;
    left: 0;
    bottom: 0;
    height: 8%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    background-color: rgba( 255, 255, 255, 0.1 );
    color: black;
    font-weight: 900;
    font-size: 15px;
    text-align: center;
    line-height: 2.5;
    border: 0px solid #f2f2f2;
    border-radius: 20px;
    text-transform: uppercase;
}
@media only screen and (min-width: 40px) and (max-width: 865px) { 
    .container {
    background: rgba( 255, 255, 255, 0.1 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 2px );
    -webkit-backdrop-filter: blur( 2px );
    margin: auto;
    min-width: 75%;
    max-width: 75%;
    box-sizing: content-box;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    border-radius: 100px;
    margin-top: 2px;
    padding-top: 2px;
    padding-bottom: 1px;
}
footer {
    padding-top: 30px;
    margin-bottom: 0px;
    position: fixed;
    left: 0;
    bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    background-color: rgba( 255, 255, 255, 0.1 );
    color: black;
    font-weight: 900;
    font-size: 15px;
    text-align: center;
    line-height: 2.5;
    border: 0px solid #f2f2f2;
    border-radius: 20px;
    text-transform: uppercase;
}
}