/* import font and only apply minimal styling */
@import url('https://fonts.googleapis.com/css2?family=Snippet&display=swap');
body {
    background: no-repeat url('images/mainPAGEpumpkin-2981429_960_720.jpg');
    background-position: center;
    height: 500px;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Snippet', sans-serif;
}
h1{
    text-decoration-line: underline overline;
    font-weight: 800;
    text-align: center;
    text-transform: uppercase;
    color: black;
    text-shadow: px 2px black;
}
.container {
    background: rgba( 255, 255, 255, 0.1 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 2px );
    -webkit-backdrop-filter: blur( 2px );
    margin: auto;
    width: 40%;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    border-radius: 10px;
    margin-top: 120px;
    padding-top: 30px;
    padding-bottom: 30px;
}
hr {
    display: inline-flex;
    padding: auto;
    border-top: thick double rgba(255, 255, 255, 0.1);
    border-radius: 5%;
    min-width: 60%;
}
a {
    color: white;
    font-weight: 900;
    text-transform: uppercase;
    text-decoration-line: none;
    line-height: 2;
    font-size: 18px;
    font-style: italic;
    text-indent: 3px;
    display: table-row;
}
a:hover {
    background-color: rgba( 255, 255, 255, 0.1 );
    color: white;
    border-bottom: 3px solid;
}
ul {
    list-style-position: outside;
    padding-left: 140px;
    list-style-type: none;  /*list style not "\2638" */
}
.counter {
    display: flex;
    justify-content: center;
    align-items: center;
}
.counterDisplay {
    margin: auto;
    cursor: none;
}
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    height: 8%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    background-color: rgba( 255, 255, 255, 0.1 );
    color: white;
    font-weight: 900;
    font-size: 20px;
    text-align: center;
    line-height: 2.5;
}
@media only screen and (min-width: 40px) and (max-width: 865px) {
    .container {
        background: rgba( 255, 255, 255, 0.1 );
        box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
        backdrop-filter: blur( 2px );
        -webkit-backdrop-filter: blur( 2px );
        margin: auto;
        width: 85%;
        border: 1px solid rgba( 255, 255, 255, 0.18 );
        border-radius: 10px;
        margin-top: 120px;
        padding-top: 50px;
        padding-bottom: 50px;
    }
}